* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.img{
  width: 100%;
}
.filter{
  margin: 0 5px;
}
.link{
  text-decoration: none;
  color: black;
}
.link:hover{
  color:cadetblue;
}
.question-mark{
  width: 300px;

}